.chat-div{
    min-height:72.5vh;
}
.text{
    color: #B7B7B7;
    font-size: 0.875rem;
}
.date{
    text-wrap: nowrap;
}
.gap{
    gap: 1.25rem;
}
@media (min-width:600px){
    .chat-div{
        min-height:72vh;
    }
}
