.message {
  padding: 0.5rem;
  gap: 1rem;
  border-radius: 0rem 0.75rem 0.75rem 0.75rem;
  background: #fff;
  width: fit-content;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
  max-width: 75%;
}
.sent{
border-radius: 0.75rem 0.75rem 0rem 0.75rem;
background: #1C63D5;
padding: 0.5rem;
gap: 1rem;
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
width: fit-content;
max-width: 75%;
}
.image{
  width: 1.625rem;
height: 1.625rem;
}
.verify-image{
  width: 0.7rem;
height: 0.7rem;
}
.position-badg{
  left: 22px;
  top: -6px;
}
