.App {
  text-align: center;
  background: #FAF9F4;
}
.bg-chat{
  background: #FAF9F4;
}
.cursor-pointer{
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
@media (min-width:500px){.custom-width{
width: 60%;
}}
::-webkit-scrollbar {
  display: none;
}